[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh-custom/themes/spaceship-prompt"]
	path = _zsh-custom/themes/spaceship-prompt
	url = https://github.com/lsparlin/spaceship-prompt.git
[submodule "zsh-custom/plugins/zsh-autosuggestions"]
	path = _zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-custom/plugins/zsh-history-substring-search"]
	path = _zsh-custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = _zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
