[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "omz-plugins/spaceship-prompt"]
	path = omz-plugins/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "omz-plugins/zsh-autosuggestions"]
	path = omz-plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "omz-plugins/zsh-history-substring-search"]
	path = omz-plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "omz-plugins/zsh-syntax-highlighting"]
	path = omz-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
